<ion-header>
    <ion-toolbar color="mango">
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" *ngIf="this.galleryType == 'home' || this.galleryType == 'add'">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
            <ion-button (click)="saveCollection()" *ngIf="this.galleryType == 'combinar'">
                <ion-icon slot="icon-only" name="heart" color="tertiary"></ion-icon>
            </ion-button>
            <ion-button (click)="saveCollection()" *ngIf="this.galleryType == 'favorito'">
                <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- <ion-toolbar>
        <ion-segment [(ngModel)]="galleryType" (ionChange)="segmentChanged($event)" color="mango">
            <ion-segment-button value="uploads">
                SUBIR
            </ion-segment-button>
            <ion-segment-button value="gallery">
                GALERÍA
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
    <div [ngSwitch]="galleryType">
        <div *ngSwitchCase="'home'">
            <h3 style="color: #CFCFCF;">Home Page</h3>
        </div>

        <!-- Responsive Layout with Ion Grid-->
        <div *ngSwitchCase="'add'">
            <h3 *ngIf="images.length == 0" class="ion-text-center" style="color: #CFCFCF;">Por favor seleccione imagen!</h3>

            <div class="progress-outer" *ngIf='isUploading && this.images.length > 0'>
                <div class="progress-inner" [ngStyle]="{'width': + progress+'%'}">
                    {{progress}}%
                </div>
            </div>

            <ion-list>
                <ion-item *ngFor="let img of images; index as pos" class="ion-text-wrap">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="img.path"></ion-img>
                    </ion-thumbnail>
                    <ion-label>{{ img.name }}</ion-label>
                    <ion-button slot="end" fill="clear" (click)="chooseCategory(img, pos)">
                        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                    </ion-button>
                    <ion-button slot="end" fill="clear" (click)="deleteImage(pos)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </div>

        <!-- Responsive Layout with Ion Grid-->
        <div *ngSwitchCase="'combinar'">
            <ion-slides pager="false" #polos (ionSlideDidChange)="onPolosChange(polos)"  [options]="sliderConfig" class="sliders" style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let polo of polos_collection">
                    <img [src]="polo.path">
                </ion-slide>
            </ion-slides>

            <ion-slides pager="false" #pants (ionSlideDidChange)="onPantsChange(pants)"  [options]="sliderConfig" class="sliders" style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let pant of pants_collection">
                    <img [src]="pant.path">
                </ion-slide>
            </ion-slides>

            <ion-slides pager="false" #shoes (ionSlideDidChange)="onShoesChange(shoes)"  [options]="sliderConfig" class="sliders" style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let shoe of shoes_collection">
                    <img [src]="shoe.path">
                </ion-slide>
            </ion-slides>
        </div>

        

        <div *ngSwitchCase="'favorito'">
            <div *ngFor="let item of collection; index as j">
            </div>
            <ion-slides pager="false" (ionSlideDidChange)="onPolosFavChange()"  [options]="sliderConfig" #fav_polos style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let picture of [1,2,3]">
                    <img src="https://via.placeholder.com/250">
                </ion-slide>
            </ion-slides>

            <ion-slides pager="false" (ionSlideDidChange)="onPantsFavChange()"  [options]="sliderConfig" #fav_pants style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let picture of [1,2,3]">
                    <img src="https://via.placeholder.com/250">
                </ion-slide>
            </ion-slides>

            <ion-slides pager="false" (ionSlideDidChange)="onShoesFavChange()"  [options]="sliderConfig" #fav_shoes style="margin-bottom: 1em; max-height: 24vh; overflow-y: hidden;">
                <ion-slide *ngFor="let picture of [1,2,3]">
                    <img src="https://via.placeholder.com/250">
                </ion-slide>
            </ion-slides>
        </div>
    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="this.galleryType == 'add'">
		<ion-fab-button color="tertiary">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button color="secondary" (click)="takePicture()">
				<ion-icon name="camera"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="primary" (click)="selectImages()">
				<ion-icon name="images"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>

<ion-footer>
	<ion-toolbar>
        <ion-segment [(ngModel)]="galleryType" (ionChange)="segmentChanged($event)" color="mango">
            <ion-segment-button value="home">
                <ion-icon name="home"></ion-icon>
                HOME
            </ion-segment-button>
            <ion-segment-button value="add">
                <ion-icon name="camera"></ion-icon>
                AGREGAR
            </ion-segment-button>
            <ion-segment-button value="combinar">
                <ion-icon name="body"></ion-icon>
                COMBINAR
            </ion-segment-button>
            <ion-segment-button value="favorito">
                <ion-icon name="star"></ion-icon>
                FAVORITO
            </ion-segment-button>
        </ion-segment>
	</ion-toolbar>
</ion-footer>